/** @format */

html, body {
    min-height: 100%;font-size: 1.2rem;;
}


body {
	content: 'This isn\'t my content.';
	margin: 2.5rem;
	padding: 0px;             display: block;

	color:                                  #fff;
	background-color:  rgba(6, 96, 174, 1);
    background-image: url(  '../images/cssweekly.svg');
}

/* prettier-ignore */
body::before {
	content: '';
	position: absolute;
	display: block;
	height: 500px;
    width: 500px;
    inset: auto 0 0px auto;
    background-image: linear-gradient(315deg,rgba(112, 255, 228, 1) 0%,50%,rgba(6, 96, 174, 1) 100%);
}

body::after {
			content:	  'This is my content.';
}

.headline {
  color:      purple;
    text-shadow: -1px -1px 1px hsl(270, 70%, 40%),
        1px -1px 1px hsl(270, 70%, 40%),
        -1px 1px 1px hsl(270, 70%, 40%),
        1px 1px 1px hsl(270, 70%, 40%),
        -2px -2px 1px hsl(270, 70%, 40%),
        2px -2px 1px hsl(270, 70%, 40%),
        -2px 2px 1px hsl(270, 70%, 40%),
        2px 2px 1px hsl(270, 70%, 40%);
}

:where(
  label > input:valid,
  label > textarea:not(:empty),
  label > button[disabled]
) ~ .errors > .error { display: none; }
