html,
body {
min-height: 100%;
font-size: 1.2rem;
a {
color: red;
}
}

body {
margin: 2.5rem;
padding: 0px;
display: block;

color: #fff;
background: rgba(6, 96, 174, 1);
}

/**/
body:before {
content: '';
position: absolute;
display: block;
height: 500px;
width: 500px;
inset: auto 0 0px auto;
background-image: linear-gradient(
315deg,
rgb(10, 10, 10) 0%,
50%,
rgba(6, 96, 174, 1) 100%
);
}

body::after {
content: '';
}
